/****** COMMON CSS ******/
body {
	font-size: 14px;
	font-family :poppins, sans-serif;
	color: #000000;
}
.bg-image {
	background: url('https://img.freepik.com/free-vector/creative-geometric-design-space_53876-89781.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

/****** LOGO, MENU AND ABOUT DETAILS SECTION ******/
.navbar{
	background:#ffffff;
	
}
.header-fixed {
	box-shadow: 0 12px 15px rgba(140, 152, 164, 0.1);
	background: #fff;
}
.navbar-brand {
	color: #000000;
	font-weight:700;
	font-size: 28px;
}
.navbar-nav {
	width: 100%;
	justify-content: flex-end;
}
.navbar-nav li {
	padding-left:25px;
}
.navbar-nav li a {
    color: rgb(0 0 0 / 81%);
    font-size: 16px;
    font-weight: 600;
}
.navbar-toggler {
	box-shadow: none!important;
	border: 1px solid #b3b3b3;
	padding: 6px 10px;
}
@media only screen and (max-width:768px) {
.navbar-nav li {
 width: 100%;
 float: left;
 padding: 10px 0px 10px 10px;
 border-bottom: 1px solid #ebebeb;
}
}
.span-col{
	color: #ea4020;
}
/********* ABOUT US SECTION  *******/
.about-detail {
	padding-top: 35%;
	padding-bottom: 100px;
}
.about-detail h5 {
	font-size: 40px;
	margin-bottom: 15px;
	color: white;
	font-weight: 400;
}
.about-detail h1 {
	font-size: 58px;
	margin-bottom: 10px;
	color: white;
	font-weight: bolder;
}
.about-detail p {
	font-size: 22px;
	color: white;
	line-height: 28px;
}
.about-detail button {
	border: none;
	padding: 15px 40px;
	margin-top: 15px;
	color: white;
	background: #ef6735;
}
.about-detail button i {
	font-size: 15px;
	margin-left: 5px;
}
.typing {
	position: relative;
	width: fit-content;
	padding-right: 20px;
	background-color: #000000;
}
.typing::after {
	content: "|";
	position: absolute;
	right: 0;
	width: 100%;
	background: #212121;
	animation: typing 6s steps(22) infinite, caret 1s infinite;
}

.button {
	display: inline-block;
	background-color:#ea4020;
	color: #f7f7f7;
	padding: 0.75rem 2.5rem;
	font-weight: var(--font-semi);
	border-radius: 0.5rem;
  }
  
  .contact_button {
	display: flex;
		align-items: center;
		justify-content: center;
		height: 10vh;
		padding: 10px 20px;
		font-size: 16px; 
		margin: 0;
  }
  
  .button:hover {
	box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
  }
@-webkit-keyframes typing {
	to {
		width: 0;
	}
}
@keyframes typing {
	to {
		width: 0;
	}
}
@-webkit-keyframes caret {
	50% {
		color: transparent;
	}
}
@keyframes caret {
	50% {
		color: transparent;
	}
}
@media screen and (max-width:768px) {
	.about-detail h5 {
		font-size: 25px;
	}
	.about-detail h1 {
		font-size: 38px !important;
	}
}
@media screen and (max-width:500px) {
	.about-detail {
		padding-top: 15%;
		padding-bottom: 60px;
	}
	.about-detail h5 {
		font-size: 20px;
	}
	.about-detail h1 {
		font-size: 35px !important;
		margin-bottom: 5px !important;
	}
}
.banner-img {
	position: relative;
	width: 100%;
	height: 100vh;
}
.banner-img img {
	position: absolute;
	bottom: 0px;
	width: 90%;
}
@media screen and (max-width:768px) {
	.banner-img {
		height: 100%;
	}
}
@media screen and (max-width:500px) {
	.banner-img {
		height: auto;
	}
	.banner-img img {
		position: relative;
	}
}
/*****Main BANNER*****/
.width-50 {
    float: left;
    width: 50%;
}

.banner-section {
    width: 100%;
    float: left;
    margin-top: 25vh;
}

.banner-section h1 {
    font-size: 48px;
    margin-top: 10px;
    font-weight: bolder;
}

.banner-section h2 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 400;
}

.banner-section a {
    float: left;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
}

.banner-section a i {
    border-radius: 50%;
    text-align: center;
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 18px;
}

 /*************** ABOUT US SECTION ***************/
 .bg-color {
	background-color: #ffffff;
}
.about-left img {
	width: 100%;
}
.about-right {
	padding-top: 80px;
	padding-bottom: 80px;
}
.about-right h2 {
	font-size: 35px;
	color: black;
	font-weight: 600;
	margin-bottom: 10px;
}
.about-right h6 {
	color: #f90505;
	font-size: 20px;
	margin-bottom: 25px;
}
.about-right p {
	line-height: 35px;
	font-size: 16px;
	margin-bottom: 50px;
	letter-spacing: 0.2px;
	word-spacing: 0.5px;
}
.about-right p span {
	color: black;
	font-weight: 600;
	border-bottom: 3px solid red;
}
.about-right table tr td {
	padding: 10px;
}
@media screen and (max-width:768px) {
	.about-right table tr td,
	.about-right table tr th {
		padding: 10px 0px;
		font-size: 13px;
	}
}
@media screen and (max-width:500px) {
	.about-right table tr td,
	.about-right table tr th {
		padding: 10px;
		font-size: 16px;
	}
}

/***************COUNTER SECTION ***************/
.counter {
	background: rgb(255, 0, 0);
	padding: 50px 40px;
	position: relative;
	top: -50px;
	box-shadow: 0 2px 8px 0 rgba(146, 18, 18, 0.1);
}
.counter-icon {
	float: left;
}
.counter-icon i {
	font-size: 50px;
	color: #ffffff;
	margin-top: 10px;
	margin-right: 15px;
}
.counter-icon h5 {
	font-size: 41px;
	color: black;
	font-weight: 600;
	margin: 0px;
}
.counter-icon p {
	margin: 0px;
	line-height: 10px;
	font-size: 14px;
}
@media screen and (max-width:768px) {
	.counter {
		padding: 20px 20px;
	}
	.counter .col-6 {
		margin-bottom: 30px;
	}
}
@media screen and (max-width:500px) {
	.counter {
		padding: 10px 10px;
	}
	.counter .col-6 {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.counter-icon i {
		font-size: 30px;
		margin-right: 5px;
	}
	.counter-icon h5 {
		font-size: 25px;
	}
}

/**********SKILL SECTION SKILL SECTION SKILL SECTION  *********/
.about-skill {
	padding: 50px 0px;
	background-color: #000000;
}
.hea h2 {
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 40px;
	margin-bottom: 15px;
}
.about-skill p {
	font-size: 19px;
	line-height: 30px;
	color: rgb(255, 253, 253);
}
.about-skill p span {
	color: red;
	font-weight: 600;
}
.skill-section {
	font-size: 25px;
	color: rgb(255, 255, 255);
	font-weight: 400;
	margin-bottom: 25px;
}
.skill-section p {
	float: left;
	margin-bottom: 4px;
	color: rgb(255, 255, 255);
	font-size: 15px;
}
.skill-section span {
	float: right;
	margin-bottom: 5px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	margin-right: 40px;
}
.skill-experience {
	width: 100%;
	float: left;
	background: #e7e7e7;
	border-radius: 10px;
	margin-bottom: 25px;
}
.skill-experience span {
	background: red;
	height: 5px;
	float: left;
}

/*********HEADING SECTION HEADING SECTION *********/
.heading-section {
	padding-bottom: 30px;
	padding-top: 80px;
}
.heading-section h2 {
	text-align: center;
	color: rgb(248, 0, 0);
	font-size: 40px;
	margin-bottom: 15px;
}
.heading-section p {
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
}
.heading-borders {
	text-align: center;
	justify-content: center;
	display: flex;
}
.heading-borders span {
	border: 1px solid red;
	width: 5%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.heading-section h2 {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.heading-borders span {
		width: 8%;
	}
}
@media screen and (max-width:500px) {
	.heading-borders span {
		width: 25%;
	}
	.heading-section h2 {
		font-size: 30px;
	}
}
/*********SERVICES SECTION SERVICES SECTION S*********/
.service-section {
	width: 100%;
	border: none;
	background: white;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
	padding: 55px 40px;
	text-align: center;
	margin-bottom: 30px;
	float: left;
}
.service-section img {
	height: 105px;
	margin-bottom: 15px;
	padding: 0px;
}
.service-section h6 {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 600;
	color: black;
}
.service-section p {
	line-height: 30px;
	font-size: 15px;
}
.service-border {
	text-align: center;
	justify-content: center;
	display: flex;
}
.service-border span {
	border: 1px solid red;
	width: 11%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.service-section {
		padding: 20px 20px;
	}
}
@media screen and (max-width:500px) {
	.service-section {
		padding: 20px 20px;
	}
}
/*********PORTFOLIO SECTION PORTFOLIO SECTION*********/
.portfolio-section {
	text-align: center;
	justify-content: center;
	display: flex;
}
.portfolio-section img {
	width: 100%;
	margin-bottom: 20px;
}
/*********HEADING SECTION HEADING SECTION*********/
.heading-section {
	padding-bottom: 30px;
	padding-top: 80px;
}
.heading-section h2 {
	text-align: center;
	color: rgb(255, 0, 0);
	font-size: 40px;
	margin-bottom: 15px;
}
.heading-section p {
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
}
.heading-borders {
	text-align: center;
	justify-content: center;
	display: flex;
}
.heading-borders span {
	border: 1px solid red;
	width: 5%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.heading-section h2 {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.heading-borders span {
		width: 8%;
	}
}
@media screen and (max-width:500px) {
	.heading-borders span {
		width: 25%;
	}
	.heading-section h2 {
		font-size: 30px;
	}
}
/********* TESTIMONIAL SECTION TESTIMONIAL SECTION *********/
.testimonial {
	padding: 50px 30px;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid #e2e8f0;
	box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}
.testimonial img {
	width: 90px !important;
	height: 90px !important;
	border-radius: 50px;
}
.testimonial p {
	font-size: 16px;
	letter-spacing: 0.5px;
	word-spacing: 2px;
}
.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 50px;
}
.owl-carousel .owl-dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #343434 !important;
	margin-right: 10px;
}
.owl-carousel .owl-dots .active {
	border: 1px solid #ea4020 !important;
	background: #ea4020;
}
@media screen and (max-width:768px) {
	.testimonial img {
		width: 50px !important;
		height: 50px !important;
		border-radius: 50px;
	}
}
@media screen and (max-width:500px) {
	.testimonial img {
		width: 60px !important;
		height: 60px !important;
		border-radius: 50px;
	}
}
/*********HEADING SECTION HEADING SECTION*********/
.heading-section {
	padding-bottom: 30px;
	padding-top: 80px;
}
.heading-section h2 {
	text-align: center;
	color: black;
	font-size: 40px;
	margin-bottom: 15px;
}
.heading-section p {
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
}
.heading-borders {
	text-align: center;
	justify-content: center;
	display: flex;
}
.heading-borders span {
	border: 1px solid red;
	width: 5%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.heading-section h2 {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.heading-borders span {
		width: 8%;
	}
}
@media screen and (max-width:500px) {
	.heading-borders span {
		width: 25%;
	}
	.heading-section h2 {
		font-size: 30px;
	}
}
/*********CONTACT SECTION CONTACT SECTION*********/
.contact-info {
	background: black;
	padding: 45px;
}
.contact-info h4 {
	font-size: 17px;
	margin-top: 25px;
	color: white;
	margin-bottom: 2px;
}
.contact-info p {
	font-size: 15px;
	color: #818385;
	line-height: 30px;
}
.contact-info i {
	background: #fff;
	color: black;
	height: 40px;
	border-radius: 50%;
	font-size: 17px;
	margin-right: 15px;
	margin-top: 20px;
	width: 40px;
	line-height: 40px;
	text-align: center;
}
.contact-form {
	background: white;
	padding: 45px;
	box-shadow: 0px 0px 1px 0px #484848;
}
.contact-form h2 {
	margin-top: 25px;
	font-size: 25px;
	margin-bottom: 20px;
}
.contact-form input {
	height: 45px;
}
.contact-form button {
	color: white;
	border: none;
	background: red;
	padding: 12px 30px;
	font-size: 15px;
	margin-bottom: 25px;
}
@media screen and (max-width:768px) {
	.contact-form {
		padding: 20px;
	}
	.contact-info i {
		margin-right: 5px;
	}
}
@media screen and (max-width:500px) {
	.contact-form {
		padding: 20px;
	}
	.contact-info i {
		margin-right: 5px;
	}
}
/*********HEADING SECTION HEADING SECTION HEADING SECTION*********/
.heading-section {
	padding-bottom: 30px;
	padding-top: 80px;
}
.heading-section h2 {
	text-align: center;
	color: black;
	font-size: 40px;
	margin-bottom: 15px;
}
.heading-section p {
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
}
.heading-borders {
	text-align: center;
	justify-content: center;
	display: flex;
}
.heading-borders span {
	border: 1px solid red;
	width: 5%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.heading-section h2 {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.heading-borders span {
		width: 8%;
	}
}
@media screen and (max-width:500px) {
	.heading-borders span {
		width: 25%;
	}
	.heading-section h2 {
		font-size: 30px;
	}
}
/*********FOOTER SECTION FOOTER SECTION FOOTER SECTION *********/
.footer {
	background: black;
	padding: 20px 0px 5px 0px;
}
.footer p {
	color: white;
	text-align: right;
}
.footer-section i {
	font-size: 20px;
	margin-right: 10px;
	color: white;
}
@media screen and (max-width:500px) {
	.footer-section {
		text-align: center !important;
	}
	.footer p {
		text-align: center;
	}
}